*{
	margin: 0px;
	padding: 0px;
	
}

#header {
	display: block;
	border: 2 px solid black;
	padding: 30px;
	text-align:center;
}

#meny {
	color: black;
	border: 2px solid black;
	margin: auto;
	padding:20px;
	text-align: center;
}

nav ul li {
	display: inline-block;
	list-style: none;
	padding: 4px;
	font: bold 13 px arial;
	letter-spacing: 1px;
	
}

nav li ul {
	display: none;
	position: absolute;
}

nav ul li a {
	display: inline-block;
	margin-right: 40px;
	line-height: 10px;
	text-align: center;
	text-decoration: none;
	color: black;
	line-height: 150%
	
}

nav ul li:hover ul {
	display: block;
	background: red;
	border: 1px solid black;
	height: auto;
	width: 150px;
	margin-top: 7 px;
	
}
.bokforside{
	border-style: solid;
	border-color: black;
	padding:10px;
	width: 400px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
    margin-bottom: 20px;
	
}
a{
	color: black;
	margin-right: auto;
	margin-left: auto;
}

a:hover{
	color: #8A2BE2
}
#footer{
    border:2px solid black;
    float:center;
    clear:both;
    text-align:center;
    margin-top:
}
@media screen and (max-width: 768px){
    .bokforside{
        width:90%;
        float:left;
        margin-left:auto;
        text-align:center;
    }   
}