*{
	margin: 0px;
	padding: 0px;
	
}

	
#logo {
		font-family:'Tangerine', serif;
		font-size:7.5em; /* 4.5=72px;*/
		background-image: url("pictures/bakgrunn2.jpg") ;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
		
}


#header {
	display: block;
	border: 2px solid black;
	padding: 30px;
	text-align:center;
}

#meny {
	display:flex;
    justify-content:center;
    
    color: black;
	border: 2px solid black;
	padding:20px;
	text-align: center;
}

nav ul li {
	display: inline-block;
	list-style: none;
	padding: 4px;
	font: bold 13px arial;
	letter-spacing: 1px;
	
}

nav li ul {
	display: none;
	position: absolute;
}

nav ul li a {
	display: inline-block;
	margin-right: 40px;
	line-height: 10px;
	text-align: center;
	text-decoration: none;
	color: black;
	line-height: 150%
	
}

nav ul li:hover ul {
	display: block;
	background: red;
	border: 1px solid black;
	height: auto;
	width: 150px;
	margin-top: 4px;
	
}

a{
	color: black;
	margin-right: auto;
	margin-left: auto;
}

a:hover{
	color: #8A2BE2
}

.flex_content{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}

#box1{
    width:300px;
    height:auto;
    /*border:2px solid black;*/
}

#box2{
    width:300px;
    height:auto;
    /*border:2px solid black;*/
}

#box3{
    width:300px;
    height:auto;
    /*border:2px solid black;*/
}


#box4{
    width:300px;
    height:auto;
    /*border:2px solid black;*/
}

#box5{
    width:300px;
    height:auto;
    /*border:2px solid black;*/
}

#box6{
    width:300px;
    height:auto;
    /*border:2px solid black;*/
}

#box7{
    width:300px;
    height:auto;
    /*border:2px solid black;*/
}

#box8{
    width:300px;
    height:auto;
    /*border:2px solid black;*/
}


#footer{
	
	width: auto;
	height: auto;
	border: 0px solid black;
	text-align: center;
}

@media screen and (max-width: 768px){
        
    }   
